@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap");

/* variables */
:root {
  --first: #0088a9;
  --second: #a03e99;
  --third: #fff5ec;
  --forth: #7e3279;
  --fifth: #ff6045;
  --black: #000;
  --dark: #333;
  --silver: #868686;
  --gray: #ccc;
  --cream: #f4f4f4;
  --white: #fff;
}

/* Reseting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

li {
}

a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

hr {
  /* box-sizing: border-box; */
  /* height: 0; */
  /* overflow: visible; */
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Utilieties */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/* Padding */

.p-4 {
  padding: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

/* Margin */

.m-4 {
  margin: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

/* Img */

.img--contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img--cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Btn */

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  color: var(--black);
  background-color: transparent;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-first {
  color: var(--white);
  background-color: var(--first);
  border-color: var(--first);
}

.btn-first:hover {
  background-color: var(--forth);
}

/* Font */

.size-1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}
.size-2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.size-3 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}

.size-4 {
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.size-5 {
  font-size: 0.25rem;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  font-size: 0.75rem;
  font-weight: 300;
}

/* Card */

.card-btn {
  background-color: transparent;
}

.cards {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-content: center;
  grid-gap: 25px;
  background-color: rgba(255, 0, 0, 0.1);
}

.card--1 .card__img {
  background-image: url("https://source.unsplash.com/random/600x601");
}

.card--2 .card__img {
  background-image: url("https://source.unsplash.com/random/600x602");
}

.card__img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card {
  width: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 12px;
  background-color: var(--white);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
  z-index: 1;
}

.card__info {
  padding: 0.75rem 1rem;
  background-color: var(--white);
}

.card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--silver);
}

.card__title {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.card__author {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: rgba(255, 0, 0, 0.5);
}

.jumbotron,
.jumbotron--img {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  /* background-color: var(--white); */
  background-color: #e9ecef;
}
.jumbotron--img {
  display: flex;
}

.img-box {
  display: none;
  width: 100%;
  height: auto;
  padding: 1rem;
}

/* Mobile */

.main-header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  position: sticky;
  top: 0;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.logo {
  padding: 0.5rem 0 0.5rem;
  cursor: pointer;
  height: 100px;
  width: 100%;
}

/* Hamburger */

.main-header__nav-toggle-btn {
  /* padding robi dodatkowe pole */
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  position: fixed;
  top: 19px;
  left: 1rem;
  /* zmienilem z index na stale */
  z-index: 10;
}

.main-header__nav-toggle-btn:focus {
}

.hamburger__box {
  width: 40px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  /* do krecenia */
  transition: all 0.3s ease-in-out 0.1s;
  background-color: var(--forth);
  position: absolute;
  left: 0;
  border-radius: 1rem;
  height: 4px;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
}

.hamburger__inner::after {
  top: 0.5rem;
  width: 90%;
}

.hamburger__inner::before {
  bottom: 0.5rem;
  width: 70%;
}

/* nav */

.main-header__nav {
  display: flex;
  transform: translateX(-300px);
  transition: transform 0.3s 0.1s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
}

.main-header__item-list {
  flex-direction: column;
  background-color: var(--third);
  width: 100%;
  padding-top: 6rem;
  /* wydluza menu */
  /* padding: 1rem 0 1rem 0; */
}

.main-header__item {
  /* border-bottom: 1px solid var(--gray); */
  text-align: left;
}

.main-header__item:hover {
  background-color: var(--cream);
}

.main-header__item a {
  transition: all 0.3s ease 0s;
  background-color: inherit;
  font-size: 1rem;
  /* dzieki width100 jak wciskam na telefonie to moge na calej dlugosci */
  width: 100%;
  padding: 1rem 2rem;
  /* aby dzilal padding musi byc inline-block */
  display: inline-block;
}

/* active class */
.menu--active {
  transform: translateX(0px);
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  width: 100%;
  transform: translateY(8px) rotate(135deg);
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-8px) rotate(-135deg);
  width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    font-size: 1.1rem;
  }
  .img-box {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
  .card__img {
    height: 200px;
  }

  .card {
    display: block;
  }
  .main-header {
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white);
  }

  .logo {
    width: unset;
    margin-right: auto;
    padding: 0;
    cursor: pointer;
    height: 100px;
    width: 100%;
  }
  .main-header__nav-toggle-btn {
    display: none;
  }
  .main-header__nav {
    transform: unset;
    transition: unset;
    position: unset;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .main-header__item-list {
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .main-header__item {
    background-color: var(--white);
    width: 100%;
    height: unset;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
  }

  .main-header__item:hover {
    background-color: inherit;
  }

  .main-header__item a {
    transition: unset;
    background-color: inherit;
    font-size: 0.75rem;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    padding: unset;
    padding: 1rem 0.5rem;
    margin: 0;
    border-bottom: 2px solid var(--white);
  }

  .main-header__item a:hover {
    border-bottom: 2px solid var(--second);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 1.3rem;
  }
  .main-header {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white);
  }

  .logo {
    width: unset;
    margin-right: auto;
    padding: 0;
    cursor: pointer;
    height: 130px;
    width: 100%;
  }
  .main-header__item a {
    font-size: 1.25rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 1.4rem;
  }
}
