@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

/* variables */
:root {
  --first: #0088a9;
  --second: #a03e99;
  --third: #fff5ec;
  --forth: #7e3279;
  --black: #000;
  --dark: #333;
  --gray: #ccc;
  --cream: #f4f4f4;
  --white: #fff;
}

/* Reseting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: var(--white);
  color: var(--black);
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

li {
}

a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

/* Utilieties */

.img--contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img--cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: var(--white);
  background-color: var(--second);
  border-radius: 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--forth);
}

.btn--menu {
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: var(--white);
  background-color: var(--second) !important;
  border-radius: 2rem;
  cursor: pointer;
}

.btn--menu:hover {
  background-color: var(--forth) !important;
  color: var(--white) !important;
}

/* Mobile */

.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.logo {
  margin-top: 1rem;
  cursor: pointer;
  height: 20vh;
  width: 100%;
}

/* Hamburger */

.main-header__nav-toggle-btn {
  /* padding robi pole */
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  background-color: var(--white);
  border: 0;
  margin: 0;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.hamburger__box {
  width: 2.5rem;
  height: 2rem;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  background-color: var(--forth);
  position: absolute;
  left: 0;
  border-radius: 1rem;
  height: 4px;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
}

.hamburger__inner::before {
  top: 0.5rem;
  width: 90%;
}

.hamburger__inner::after {
  bottom: 0.5rem;
  width: 70%;
}

/* nav */

.main-header__nav {
  display: none;
}

.main-header__item-list {
  flex-direction: column;
  background-color: var(--third);
  width: 100%;
  /* wydluza menu */
  /* padding: 1rem 0 1rem 0; */
}

.main-header__item {
  border-bottom: 1px solid var(--gray);
  text-align: center;
}

.main-header__item:hover {
  background-color: var(--cream);
}

.main-header__item:last-child {
  border: none;
}

.main-header__item a {
  transition: all 0.3s ease 0s;
  background-color: inherit;
  font-size: 1rem;
  /* dzieki width100 jak wciskam na telefonie to moge na calej dlugosci */
  width: 100%;
  padding: 1rem 0;
  /* aby dzilal padding musi byc inline-block */
  display: inline-block;
}

/* active class */
.menu-open {
  display: flex;
}

/* ---------------- Tablet -------------------------------------*/
@media (min-width: 620px) {
}
@media (min-width: 768px) {
  /* .main-header {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--third);
  }

  .logo {
    cursor: pointer;
    margin-right: auto;
  }
  .main-header__nav-toggle-btn {
    display: none;
  }
  .main-header__nav {
    display: contents;
  }
  .main-header__item-list {
  }

  .main-header__item {
    display: inline-block;
  }

  .main-header__item a {
    padding: 0.5rem 2rem;
    transition: all 0.3s ease 0s;
    margin-left: 0.5rem;
    background-color: inherit;
  }

  .main-header__item a:hover {
    color: var(--second);
  } */
}
/* ---------------- Laptop -------------------------------------*/
@media (min-width: 960) {
}
/* ---------------- Desktop -------------------------------------*/
@media (min-width: 1200) {
}
